<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header-container">
        <div class="main-header-top-bar">
            <img src="./images/logo-mercado-liebre.svg" class="logo"/>
            <div class="search">
                <input type="search" placeholder="Buscar productos, marcas">
                <i class="fas fa-search lupa"></i>
            </div>
            <h2 class="copy"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
        <a href="#" class="hamburguesa">
            <i class="fas fa-bars"></i>
        </a>
            <nav class="nav-bar">
                <ul class="nav-var-uno">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-var-dos">
                    <li><a href="/views/register.html">Creá tu cuentas</a><i class="fas fa-address-card"></i></li>
                    <li><a href="/views/login.html">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
    </header>
    <main class="main-container">
            <div class="ultima-visita">
                <h3 class="titulares">Basado en tu última visita</h3>
                <div class="articulo">
                    <img class="img" src="/images/img-cafetera-moulinex.jpg">
                    <div class="detalle">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <div class="icono-envio"><i class="fas fa-truck"></i></div>
                        <p class="desc">Cafetera Moulinex</p>
                    </div>
                </div>
                <div class="articulo">
                    <img class="img" src="/images/img-macbook-pro-2019.jpg">
                    <div class="detalle">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <p class="desc">MacBook Pro 2019</p>
                        <div class="icono-envio"><i class="fas fa-truck"></i></div>
                    </div>
                </div>
                <div class="articulo">
                    <img class="img" src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="detalle">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <p class="desc">Samsung Galaxy S10</p>
                        <div class="icono-envio"><i class="fas fa-truck"></i></div>
                    </div>
                </div>
                <div class="articulo">
                    <img class="img" src="/images/img-tv-samsung-smart.jpg">
                    <div class="detalle">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <p class="desc">Smartv Samsung 43"</p>
                        <div class="icono-envio"><i class="fas fa-truck"></i></div>
                    </div>
                </div>
            </div>
            <h3 class="titulares">Ofertas</h3>
            <div class="ofertas">
                <div class="articulo">
                    <img class="img" src="/images/img-cafetera-moulinex.jpg">
                    <div class="detalle">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <p class="desc">Cafetera Moulinex</p>
                        <div class="icono-envio"><i class="fas fa-truck"></i></div>
                    </div>
                </div>
                <div class="articulo">
                    <img class="img" src="/images/img-macbook-pro-2019.jpg">
                    <div class="detalle">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <p class="desc">MacBook Pro 2019</p>
                        <div class="icono-envio"><i class="fas fa-truck"></i></div>
                    </div>
                </div>
                <div class="articulo">
                    <img class="img" src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="detalle">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <p class="desc">Samsung Galaxy S10</p>
                        <div class="icono-envio"><i class="fas fa-truck"></i></div>
                    </div>
                </div>
                <div class="articulo">
                    <img class="img" src="/images/img-tv-samsung-smart.jpg">
                    <div class="detalle">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <p class="desc">Smartv Samsung 43"</p>
                        <div class="icono-envio"><i class="fas fa-truck"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer-container">
        <div>
            <div class="forma-pago">
                <div class="icono-footer"><i class="fas fa-credit-card"></i></div>
                <span><h3>Pagá con tarjeta o en efectivo</h3></span>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p><br>
            </div>
            <div class="envio">
                <div class="icono-footer"><i class="fas fa-gift"></i></div>
                <span><h3>Envío gratis desde $ 2.500</h3></span>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                    </p><br>
            </div>
            <div class="seguridad">
                <div class="icono-footer"><i class="fas fa-user-shield"></i></div>
                <span><h3>Seguridad, de principio a fin</h3></span>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                    </p><br>
            </div>
            <div class="copyrigth">
                <span><h3>Copyright © 1999-2020 MercadoLiebre S.R.L</h3></span>
            </div>
        </div>
    </footer>
</body>
</html>