<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>Mercado Liebre</title>
</head>
<body>
    <header class="header-container">
        <div class="main-header-top-bar">
            <img src="./images/logo-mercado-liebre.svg" class="logo"/>
            <div class="search">
                <input type="search" placeholder="Buscar productos, marcas">
                <i class="fas fa-search lupa"></i>
            </div>
            <h2 class="copy"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
        <a href="#" class="hamburguesa">
            <i class="fas fa-bars"></i>
        </a>
            <nav class="nav-bar">
                <ul class="nav-var-uno">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-var-dos">
                    <li><a href="/register">Creá tu cuentas</a><i class="fas fa-address-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
    </header>
    <form action="#" method="post" class="form-registro">
        <div class="control-formulario">
            <label>Nombre de usuari@</label>
            <input type="text" name="usuario"class="control">
        </div>
        <div>
            <input type="password" value="Password">
        </div>
            <input type="submit" class="boton-registro" value="Enviar">
    </form>
</body>
</html>
