
* {
    box-sizing: border-box;
        margin: 0px;
        padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: #ebebeb;
}

.header-container{
    background-color:#EAC926;
    border: solid #EAC926;
    margin: 0%;
    margin-bottom: 0;
    position: fixed;
    /* top: 0px; */
    position: fixed;
    z-index: 10;
    width: 100%;

   
}
.logo{
    width: 100px;
    height: auto; 
}
.copy{
    font-weight: 400;
    text-align: center;
    font-size: 16px;
}
.hamburguesa {
    background-color: #1259c3;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}
.nav-bar{
    display: none;
}
.nav-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-bar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 16px;
}
.search{
    display: block;
    width: 90%;
    font-size: 18px;
}
.lupa{
    background-color:#ebebeb;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    text-align: center;
    padding: 2px 2px;
}
.cuerpo-texto{
    font-size: 12px;
}
.titulares{
    font-size: 24px;
    margin: auto;
}
.precio{
    font-size: 18px;
    margin: auto;
    width: 30%;
}
.desc{
    font-size: 16px;
    display: none;
}
.descuento{
    font-size: 16px;
    color: #39b54a;
    margin: auto;
    width: 70%;
}
.main-container{
    display: block;
    position: relative;
    top: 150px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
.logo-fiestas {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
.ultima-visita, .ofertas {
    width: 90%;
    margin: auto;
}
.producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}

article {
    margin-bottom: 10px;
    position: relative;
}
.producto article {
    flex-wrap: wrap;
}
.productos article {
    transition: max-height 0.5s;
}

main article:hover .logo-envio {
    transform: rotate(-90deg);
}

main article .logo-envio {
    transition: transform 0.5s;
}

main article h4.desc {
    display: block;
    position: absolute;
    bottom: 40px;
    z-index: -1;
    opacity: 0;
}
main article:hover h4.desc {
    display: block;
    position: relative;
    bottom: 0;
    z-index: 1;
    opacity: 1;
}
article {
    margin-bottom: 10px;
    position: relative;
}
article h3.descuento {
    font-size: 16px;
    color: #39b54a;
}
article h3.precio{
    font-size: 18px;
    margin-left: 2%;
}
article h4 {
    margin-left: 2%;
    color: #666;
}
.precio-descuento {
    display: flex;
  }
  
.precio-descuento h3.precio {
    flex-grow: 0.3;
  }

.precio-descuento h3.descuento {
    flex-grow: 0.7;
  }

.detalle {
  border-top: 0, 1% solid #ebebeb;
  padding: 15px;
  background-color: white;
}

.responsive { 
    width: 100%;
    height: auto;
}
.icono-envio {
  color: #39b54a;
  display: block;
  position: absolute;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  border-radius: 50%;
  background-color: #fff;
  right: 5px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 50px;
  margin-top: -30px;
}

.footer-container{
    text-align: center;
    margin: 10px;
    padding: 15px;
}
.icono-footer{
    display: block;
    text-align: center;
    color:#1259c3;
    margin-bottom: 10px;
    font-size: 2em;
}
.forma-pago{
    font-size: 12px;
}

.footer-container{
    text-align: center;
}
.icono-footer{
    display: block;
    text-align: center;
    color:#1259c3;
    margin-bottom: 10px;
    font-size: 2em;
}

.forma-pago{
    font-size: 12px;
}

.detalle{
    border-top: 1px #ebebeb solid;
    background-color: white;
    text-align: left;
}
.form-registro{
    padding: 20px 15px;
    margin-top: 240px;
}
.control-formulario{
    margin-bottom: 15px;
}
.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}
.control{
    width: 100%;
    padding: 8px;
}
.boton-registro{
    background-color: #1259c3;
    border: none;
    font-size: 18px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}
.caja-checkbox{
    display: block;
}
@media (min-width:361px) {
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
    }
    .copy{
        display: inline-block;
        max-width:none;
        text-align: right;
    }
    .hamburguesa{
        display: none;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
    }
    .nav-bar ul{
        display:flex;
    }
    .nav-bar li{
        margin: 0 5px;
    }
    .search{
        display: flex;
        justify-content: center;
        height: 2em;
        align-items: center;
    }
    .ofertas, .ultima-visita{
        box-shadow: 0px 0px 10px rgb(100.100.100);
    }
}
@media (min-width:769px){
    .main-header-top-bar, .nav-bar{
        max-width: 769px;
        margin: auto;
    }
    .main-header-top-bar{
        align-items: center;
    }
    .nav-bar li{
        margin: 0 10px;
    }
    .nav-bar a{
        font-size: 16px;
    }
    .nav-bar{
        margin-top: 15px;
    }
    .copy{
        max-width: none;
        margin: 0px;
    }
    /* .ofertas, .ultima-visita{ */
        .img{
        box-shadow: 0px 0px 10px rgb(100.100.100);
    }
}